# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
dataset/.~lock.esea_master_dmg_demos.part1.csv#
dataset/.~lock.esea_master_kills_demos.part1.csv#
dataset/cs_cruise.png
dataset/de_cache.png
dataset/de_cbble.png
dataset/de_coast.png
dataset/de_dust2.png
dataset/de_empire.png
dataset/de_inferno.png
dataset/de_mikla.png
dataset/de_mirage.png
dataset/de_new_nuke.png
dataset/de_nuke.png
dataset/de_overpass.png
dataset/de_royal.png
dataset/de_santorini.png
dataset/de_season.png
dataset/de_train.png
dataset/de_tulip.png
dataset/esea_master_dmg_demos.part1.csv
dataset/esea_master_dmg_demos.part2.csv
dataset/esea_master_grenades_demos.part1.csv
dataset/esea_master_grenades_demos.part2.csv
dataset/esea_master_kills_demos.part1.csv
dataset/esea_master_kills_demos.part2.csv
dataset/esea_meta_demos.part1.csv
dataset/esea_meta_demos.part2.csv
dataset/map_data.csv
dataset/mm_grenades_demos.csv
dataset/mm_master_demos.csv
